<!DOCTYPE html>
<html ng-app="prideapp">
	<head>
		<title>FreelancePride - Report</title>
		<link rel="stylesheet" href="css/bootstrap.min.css" />
		<link rel="stylesheet" href="css/app.css">
	</head>
	<body>
		<div class="row-fluid">
			<div ng-controller="prideappReportController" class="span10 offset1">
				<h3>Report</h3>
				<div class="pull-right"><a href="index.html">Track time</a></div>
				<table id="reportTable" class="table table-bordered" ng-repeat="customer in customers">
					<thead>
						<tr ng-switch on="customer">
							<th ng-switch-when="" colspan="2">Customer : Unknown</th>
							<th ng-switch-default colspan="2">Customer : {{ customer }}</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="duration in getStatistics(customer)">
							<td>{{ ['Today', 'Last Week', 'Last Month'][$index] }}</td>
							<td>{{ duration }}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<script src="js/libs/angular.min.js"></script>
		<script src="js/app.js"></script>
		<script src="js/controllers/prideappReportController.js"></script>
		<script src="js/modelContext/modelContext.js"></script>
	</body>
</html>