<!DOCTYPE html>
<html ng-app="prideapp">
	<head>
		<title>Login</title>
		<link rel="stylesheet" href="css/bootstrap.min.css" />
		<link rel="stylesheet" href="css/datepicker.css" />
	</head>
	<body>
		<div class="row-fluid">
			<div class="span10 offset1">
				Login using:
				<a href="/auth/google"><img src="/img/google.png"></img></a>
			</div>
		</div>
	</body>
</html>